:root{
    --font-family: Georgia, 'Times New Roman', Times, serif;
    --font-particular: Courier New, Courier, monospace;
}
.home-section h1{
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 76px;
    text-align: center;
}
body{
    background-color: whitesmoke;
    padding: 210px 20px;
}
.home-section h4{
    color: black;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 46px;
    text-align: center;
}
.home-section h6{
    font-family: var(--font-particular);
    text-align: center;
}
.button{
    padding: 15px 15px;
    margin: 0px auto;
    display: block;
}
.button:hover{
    background-color: rgb(29, 29, 245);
    border: none;
}
.image{
    width: 100%;
}
.buts{
    background-color: red;
    padding: 15px 30px;
}
.buts:hover{
    background-color: rgb(245, 46, 46);
    border: none;
}
.intro{
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
}
.text{
    line-height: 30px;
}
h2{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}
.about-section h1{
    font-size: 64px;
    font-family: var(--font-family);
    font-weight: bold;
}
.about-section h6{
    font-weight: bold;
}
.btn-about{
    padding: 15px 30px;
}
.work-section h3{
    font-weight: bold;
    font-family: var(--font-family);
}
h1{
    font-size: 64px;
    font-family: var(--font-family);
    font-weight: bold;
}
@media (max-width: 576px){
    .buts{
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .buts:hover{
        background-color: rgb(245, 27, 27);
        border: none;
    }
    .text{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h1{
        font-size: 30px;
    }
    h6{
        letter-spacing: 0.1;
    }
    .btn-about{
        margin: 0 auto;
        display: block;
    }
    .img-about{
        margin-top: 20px;
    }
    .about-section h6{
        text-align: center;
    }
    .about-section h1{
        text-align: center;
    }
}