:root{
    --font-family: Georgia, 'Times New Roman', Times, serif;
    --font-particular: Courier New, Courier, monospace;
}
.home-section h1{
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 76px;
    text-align: center;
}
body{
    background-color: whitesmoke;
}
.home-section h4{
    color: black;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 46px;
    text-align: center;
}
.home-section h6{
    font-family: var(--font-particular);
    text-align: center;
}
.button{
    padding: 15px 15px;
    margin: 0px auto;
    display: block;
}
.button:hover{
    background-color: rgb(29, 29, 245);
    border: none;
}
.image{
    width: 100%;
}
.buts{
    background-color: red;
    padding: 15px 30px;
}
.buts:hover{
    background-color: rgb(245, 46, 46);
    border: none;
}
.intro{
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
}
.text{
    line-height: 30px;
}
h2{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}
.about-section h1{
    font-size: 64px;
    font-family: var(--font-family);
    font-weight: bold;
    margin-left: 0;
}
.about-section h6{
    font-weight: bold;
}
.btn-about{
    padding: 15px 30px;
}
.work-section h3{
    font-weight: bold;
    font-family: var(--font-family);
}
.work-section h1, .contact-section h1{
    font-size: 64px;
    font-family: var(--font-family);
    font-weight: bold;
    margin-top: 100px;
    margin-left: 100px;
}
.home-section{
    margin-top: 100px;
}
.about-section{
    margin-top: 100px;
}
.contact-section{
    margin-top: 100px;
}
nav{
    padding: 20px 0;
}
nav li{
    list-style: none;
    display: inline;
    line-height: 90px;
    margin-left: 10px;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: all 100ms ease-in-out;
}
nav a:hover, nav li.active a{
    color: purple;
}
.nav-img{
    max-height: 100px;
}
footer{
    margin: 60px 0;
}
footer .email-link{
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-align: center;
}
footer .email-link:hover{
    color: purple;
}
footer .contact-box p{
    margin: 0;
}
.social-links{
    text-align: center;
    text-decoration: none;
}
.social-links a{
    margin: 0 20px;
    color: purple;
    background: rgb(236, 235, 235);
    font-size: 18px;
    padding: 10px 14px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
.social-links a:hover{
    color: white;
    background-color: purple;
}
.btn-footer{
    padding: 15px 30px;
}
.btn-footer:hover{
    color: blue;
    background-color: white;
}
.contact-box{
    background-color: rgb(236, 235, 235);
    padding: 30px 60px;
    border-radius: 10px;
    font-family: var(--font-family);
}
h4{
    font-size: 48px;
}
@media (max-width: 576px){
    .buts{
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .buts:hover{
        background-color: rgb(245, 27, 27);
        border: none;
    }
    .text, h2{
        text-align: center;
    }
    h1{
        font-size: 30px;
    }
    h6{
        letter-spacing: 0.1;
    }
    .btn-about{
        margin: 0 auto;
        display: block;
    }
    .img-about{
        margin-top: 20px;
    }
    .about-section h6, .about-section h1{
        text-align: center;
    }
    .about-section h1, .footer-text{
        text-align: center;
    }
}